# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Ignore all .txt
*.txt

# Ignore all .o
*.o

# Ignore a.out
a.out

# Ignore all .exe
*.exe

# Ignore all .vscode
*.vscode